extends layout/index
block contenido
    main.container.mt-5
        div.row
            div.col-md-5
                img.img-fluid(src="/img/nosotros.jpg", alt="")
            .col-md-7
                h1 #{titulo}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .listado-iconos
        .container.mt-5.py-5.text-xl-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum odor amet, consectetuer adipiscing elit. Fringilla efficitur mattis amet platea convallis nibh facilisi himenaeos. Rutrum fames id dignissim morbi netus ultricies.
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_destinos.svg", alt="icono destino")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum odor amet, consectetuer adipiscing elit. Fringilla efficitur mattis amet platea convallis nibh facilisi himenaeos. Rutrum fames id dignissim morbi netus ultricies.
                .col-md-4
                    img.img-fluid.mb-4(src="/img/icono_precios.svg", alt="icono precios")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum odor amet, consectetuer adipiscing elit. Fringilla efficitur mattis amet platea convallis nibh facilisi himenaeos. Rutrum fames id dignissim morbi netus ultricies.
